include aa_discord_voicesnapshot/__init__.py
include aa_discord_voicesnapshot/apps.py
include aa_discord_voicesnapshot/gateway.py
include aa_discord_voicesnapshot/models.py
include aa_discord_voicesnapshot/auth_hooks.py
recursive-include aa_discord_voicesnapshot/templates *
recursive-include aa_discord_voicesnapshot/migrations *
